<section class="card-list">

    <article class="card card--green">
      <div class="card__image"></div>
      <h3 class="card__title">Heading 3</h3>
      <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="card__actions">
        {% include 'components/button.html' with label="Button" type="secondary" color="blue" icon="icons/folder-minus.svg" %}
        {% include 'components/button.html' with label="Button" type="tertiary" color="bright" icon="icons/folder-minus.svg" %}
      </div>
    </article>
  
    <article class="card card--dark">
      <div class="card__image"></div>
      <h3 class="card__title">Heading 3</h3>
      <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="card__actions">
        {% include 'components/button.html' with label="Button" type="secondary" color="blue" icon="icons/folder-minus.svg" %}
        {% include 'components/button.html' with label="Button" type="tertiary" color="bright" icon="icons/folder-minus.svg" %}
      </div>
    </article>
  
    <article class="card card--blue">
      <div class="card__image"></div>
      <h3 class="card__title">Heading 3</h3>
      <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="card__actions">
        {% include 'components/button.html' with label="Button" type="secondary" color="dark-green" icon="icons/folder-minus.svg" %}
        {% include 'components/button.html' with label="Button" type="tertiary" color="bright" icon="icons/folder-minus.svg" %}
      </div>
    </article>
  
  </section>